<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Black
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Blank</strong>
    <p>This is blank template. <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.co.th/">Learn More.</a></p>
  </div>
</ion-content>
